html,
body {
    width: 100%;
    overflow-x: hidden;
}

/* CONTENEDOR PRINCIPAL */
.home-container {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* CABECERA - MENÚ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0057B8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Asegura que esté sobre otros elementos */
}

/* MENÚ SUPERIOR */
.menu-up {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #004da5;
}

.logo {
    width: 120px;
    height: auto;
}

/* BUSCADOR */
.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px;
    margin-left: auto;
}

.search i {
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.3s ease-in-out;
    padding: 5px;
}

.search-input {
    background-color: #f8f6f6;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: solid 1px #004da5;
    padding: 5px;
    transition: width 0.3s ease-in-out, opacity 0.2s;
}

.search:hover {
    width: 400px;
}

.search:hover .search-input {
    width: 100%;
    opacity: 1;
}

.search:hover i {
    transform: scale(1.1);
}

/* BOTÓN CERRAR SESIÓN */
.btn-logout {
    background-color: #004da5;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-logout:hover {
    background-color: #045abd;
}


/* MENÚ INFERIOR */
.menu-dawn {
    display: flex;
    justify-content: flex-start;
    background-color: #0354af;
    padding: 10px 20px;

}

/* BOTÓN DEL MENÚ PARA DISPOSITIVOS PEQUEÑOS */
.menu-toggle {
    display: none;
}

.menu-options {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.menu-options li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
}

/* Línea debajo al hacer hover */
.menu-options li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease-in-out;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.menu-options li a:hover::after {
    width: 100%;
}

/* SELECCIONAR IDIOMA */
.language-select-container {
    position: absolute;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    right: 0;
}

.language-select {
    background-repeat: no-repeat;
    background-position: left 8px center;
    background-size: 20px 15px;
    padding-left: 35px;
    appearance: auto;
    /* Restaura el icono nativo */
}

/* CONTENIDO PRINCIPAL */
.main-content {
    min-height: 100vh;

}

/* Nombre del Usuario Autenticado */
.nameUser{
    margin-top: 100px;
}

/*borde de fondo de contactos */
.title-container {
    background-color: rgba(102, 99, 99, 0.6); /* Fondo semitransparente */
    padding: 15% 30%;
    display: inline-block;
    border-radius: 2px;
  }

.cardcontacto {
    display: flex; /* Usamos flexbox para alinear los elementos de forma horizontal */
    flex-direction: row; /* Organiza los elementos en fila (horizontal) */
    align-items: center; /* Centra los elementos verticalmente */
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 100%; /* Las tarjetas ocupan todo el ancho disponible */
    margin: 10px 0; /* Espaciado entre las tarjetas */
    padding: 10px; /* Relleno dentro de las tarjetas */
  }
  
.cardimage {
    width: 150px; /* Fijamos el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 20px; /* Espaciado entre la imagen y el contenido */
    border-radius: 5px; /* Bordes redondeados en la imagen */
  }
  
.cardcontent {
    display: flex;
    flex-direction: column; /* Coloca el título y la descripción uno encima del otro */
  }
  
.cardcontacto h3 {
    font-size: 18px; /* Ajuste de tamaño del título */
    margin-bottom: 5px; /* Espaciado debajo del título */
  }
  
.cardcontacto p {
    font-size: 14px; /* Ajuste del tamaño del texto */
    color: #555; /* Color gris para la descripción */
  }
  

/* CARRUSEL DE IMAGENES */
.carrusel-full {
    width: 100vw;
    height: 70vh;
    overflow: hidden;
}

.carousel-slide {
    position: relative;
    /* Para que el overlay se posicione correctamente */
    width: 100%;
    height: 70vh;
}

.full-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* Para el texto y el botón */
.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
}

.carousel-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.btn-carousel {
    display: inline-block;
    padding: 12px 24px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.btn-carousel:hover {
    background: #0354af;
    color: rgb(216, 216, 216);
    transition: all 0.3s;
}

.carousel-p{
    font-size: 25px;
}

/* CARRUSEL DE IMAGENES */
.seccion1 {
    margin-left: -50vw;
    left: 50%;
    position: relative;
    /* Evita que se desplace mal */
    background-color: transparent;
}

/* SECCIÓN BÚSQUEDAS DESTACADAS */
.seccion2 {
    display: flex;
    flex-direction: space-around;
    min-height: 40vh;
}

/* SECCIÓN DEL RANKING */
.seccion3 {
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    position: relative;
    /* Evita que se desplace mal */
    background-color: #e9e7e0;
    padding: 20px 0;
    /* Espacio arriba y abajo */
}

/* CARRUSEL DE COMENTARIOS */
.seccion4 {
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    position: relative;
    /* Evita que se desplace mal */
    background-color: transparent;
    padding: 20px 0;
    /* Espacio arriba y abajo */
}

/* TARJETAS - CARDS */
.cardcontacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    background-color: rgb(238, 237, 237);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 400px;
    min-height: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cardcontacto h3 {
    font-size: 1.2rem;
    min-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    /* Permite que el texto haga salto de línea */
    word-wrap: break-word;
    /* Asegura que el texto se ajuste dentro del contenedor */
    text-align: right;
    max-width: 100%;
}

.cardcontacto img {
    width: 80%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}


.cardcontacto p {
    flex-grow: 1;
    /* Expande el párrafo para igualar tamaños */
    min-height: 70px;
    overflow: hidden;
}

.cardcontacto button {
    width: 90%;
    max-width: 200px;
    align-self: flex-start; /* Alinea el botón a la izquierda */

}

.cardcontacto button:hover {
    color: white;
    font-weight: bold;
}
/*estilos para el formulario de contacto*/
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 80px ;
    border-left: 1px solid #000;
    margin-right: 50px; 
    margin-top: 5px;
  }
  
.contact-form .form-control {
    margin-bottom: 15px;
  }
  
.contact-form .btn {
    width: 100%;
  }
/*Estios para la geolocalizacion*/
.contact-container {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio */
    gap: 5px; /* Espacio entre el mapa y el formulario */
    /*flex-wrap: wrap; /* Si la pantalla es pequeña, coloca los elementos en una nueva línea */
    align-items: center; /* Centra verticalmente los elementos */
    display: flex;
    flex-direction: row;
    
  }
  
  .location-info iframe {
    border: 1px solid #ccc;
    border-radius: 8px;
  }

/* CARRUSEL */
.slick-slide {
    padding: 10px;
    /* Espacio para las tarjetas */
}

/* Si las flechas son imágenes SVG, aplica filtro */
.slick-prev::before,
.slick-next::before {
    color: #045abd;
    /* Asegura que se cambie el color */
    font-size: 25px;
    /* Ajusta el tamaño */
}

/* Posicionar las flechas dentro del carrusel */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-prev {
    left: 3px;
}

.slick-next {
    right: 3px;
}

/* TEXTOS */
h2 {
    font-weight: bold;
    margin: 20px 0 40px;
}

.text-style2 {
    color: #5f5027;
    margin: 10px 40px;
}

/* BOTONES */
.btn-style1 {
    background-color: #045abd;
    color: #fff;
}

.btn-style1:hover {
    background-color: #015ec9;
    color: white;
    transition: all 0.3s;
}

.btn-style3 {
    background-color: #f5a22d;
    color: white;
}

.btn-style3:hover {
    background-color: #ffb246;
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px ) {
    .menu-options {
        display: none;
        flex-direction: column;
        width: 90%;
        margin-top: 10px;
    }

    .menu-options.open {
        display: flex;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    .menu-toggle.open {
        transform: rotate(90deg);
        /* Gira el icono */
    }

    .card {
        width: calc(33.333% - 1.5rem);
    }

    .card p {
        font-size: 0.7rem;
    }

    .footer-content {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .language-select-container {
        position: relative;
        /* Deja de ser absoluto */
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        /* Agrega un espacio entre las opciones del menú */
    }

    .search:hover {
        width: 250px;
    }

    .slick-prev,
    .slick-next {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    .slick-prev {
        left: -5px;
    }

    .slick-next {
        right: -5px;
    }

    /* Carrusel de imagenes */
    .carrusel-full {
        height: 40vh;
        /* Ajusta la altura en móviles */
    }

    .full-img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        /* Asegura que la imagen se ajuste bien */
    }

    .carousel-title {
        font-size: 2rem;
    }

    .btn-carousel {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
   
}
@media (min-width: 768px) {
    .title-container {
        padding: 50px 80px;
        max-width: 40%; /* El título se hace más grande en pantallas más grandes */
      }
  
    .carousel-title {
      font-size: 3vw; /* Ajuste de tamaño para pantallas grandes */
    }
  
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 1202px) {
    .card p {
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 1024px) {
    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .carrusel-full {
        height: 60vh;
        /* Ajusta la altura en tablets */
    }

    .carousel-title {
        font-size: 2.5rem;
    }

    .btn-carousel {
        font-size: 1rem;
        padding: 10px 20px;
    }
    
}

