.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
}

/* Estilo para elegir el idioma */
.card-login {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.btn-outline-secondary:hover {
    background-color: #818181;
    transition: all 0.5s;
}

.card-login h2 {
    color: #004da5;
}

/* Estilos para los botones */
.btn-google {
    background-color: #222;
    border-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-google:hover {
    background-color: #3a3a3a;
    border-color: #3a3a3a;
    color: white;
}

.btn-facebook {
    background-color: #0057B8;
    border-color: #0057B8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-facebook:hover {
    background-color: #2376d4;
    border-color: #2376d4;
    color: white;
}

.btn-microsoft {
    background-color: #222222;
    border-color: #ffffff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-microsoft:hover{
    background-color: #505152;
    border-color: #3d3d3d;
    color: white;
}

.btn-style1:hover{
    background-color: #015ec9;
    color: white;
}

.btn-style2 {
    background-color: #045abd;
    color: #fff;
}


.btn-style2:hover{
    background-color: #015ec9;
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}