/* Contenedor principal */
.breadcrumbs-container {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Lista de migas de pan */
.breadcrumbs-list {
    list-style: none;
    display: flex;
    padding: 3px;
    margin: 3px;
}

/* Elementos de la lista */
.breadcrumbs-list li {
    margin-right: 5px;
    display: flex;
    align-items: center;
}

/* Estilos para los enlaces */
.breadcrumbs-list a {
    text-decoration: none;
    color: #0756af;
    transition: All 0.3s;
}

.breadcrumbs-list a:hover {
    color: #007bff;
}

/* Separador entre migas de pan */
.separator {
    margin: 0 8px;
    color: #929292;
}
